:root {
  --amarillo: #cabf21;
  --negro: #000000;
  --blanco: #ffffff;
  --rojo: #d72d2d;
  --celeste: #b6daf4;
  --azul: #222ead;
}

html {
  font-size: 92.5%;
}
body {
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.titulo_principal {
  color: var(--amarillo);
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.navegacion_principal {
  display: flex;
  justify-content: space-around;
  flex-direction: initial;
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--amarillo) 0%,
    var(--negro) 100%
  );
  border-radius: 1rem;
}

@media (min-width: 480px) {
  .navegacion_principal {
    flex-direction: row;
    justify-content: space-around;
  }
}

.navegacion_principal a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
}

.navegacion_principal a:hover {
  background-color: darkgray;
}

.banner {
  background-image: url(../img/banner.jpeg);
  background-size: auto;
  margin-top: 1rem;
  border-radius: 1rem;
}

.boton {
  background-image: linear-gradient(
    to top,
    var(--blanco) 0%,
    var(--celeste) 100%
  );
  padding: 1rem;
  border-radius: 1rem 1rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.servicios {
  align-items: center;
  display: grid; /* Usar grid para un control más preciso */
  grid-template-columns: repeat(3, 1fr); /* Crear 3 columnas de igual ancho */
  gap: 20px; /* Espacio entre columnas */
  align-items: start; /* Alinear los elementos al inicio de cada celda */
}

.sombra {
  background-image: linear-gradient(
    to top,
    var(--blanco) 0%,
    var(--celeste) 100%
  );
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar el formulario en la página */
  border: none;
  margin: 0 auto; /* Centrar el formulario en la página */
  padding: 2rem; /* Espacio interno del formulario */
  max-width: 800px; /* Ajusta el ancho máximo del formulario */
  width: 90%; /* Ocupar el 90% del ancho en pantallas pequeñas */
  border: 1px solid #ccc; /* Añadir borde al formulario */
  border-radius: 1rem; /* Bordes redondeados */
}

.formulario fieldset {
  width: 100%; /* Asegura que el fieldset ocupe todo el ancho */
  border: none; /* Quitar el borde del fieldset */
}

.formulario legend {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center; /* Centrar el texto del legend */
}

.contenerdor_campos {
  display: flex;
  flex-direction: column; /* Alinear los elementos en columna */
  align-items: stretch; /* Estirar los elementos para ocupar todo el ancho */
}

.campo {
  margin-bottom: 1rem;
  width: 100%; /* Asegura que el campo ocupe todo el ancho */
}

.campo label {
  color: var(--negro);
  font-weight: bold;
  display: block; /* Asegura que el label ocupa todo el ancho disponible */
  text-align: left; /* Alinear el texto del label a la izquierda */
  margin-bottom: 0.5rem; /* Espacio entre el label y el input */
}

.input-texto {
  width: 100%; /* Ocupar el 100% del ancho del contenedor */
  border: 1px solid #ccc; /* Borde para mejorar la visibilidad */
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: left; /* Alinear el texto dentro del input a la izquierda */
  margin-top: 0.5rem; /* Espacio entre el label y el input */
}

/* Media Query para pantallas más grandes */
@media (min-width: 768px) {
  .formulario {
    width: 50%; /* Ajustar el ancho a 50% en pantallas grandes */
  }
}
